{% extends "forum/template.html.twig" %}

{% block body %}
    {% for cat_data in category %}
        <div class="forum-bloc">
            <div class="title">
                <a href="{{ url('cat_show', {'slug':cat_data.slug}) }}">{{ cat_data.name }}</a>
                <small>{{ cat_data.description }}</small>
            </div>
            <div class="content">
                {% for forum in cat_data.forum if forum.parent == "0" %}
                    <ul>
                        <li class="icon">
                            <i class="far fa-comments"></i>
                        </li>
                        <li class="title">
                            <a href="{{ url('forum_show', {'slug':forum.slug}) }}">{{ forum.name }}</a>
                            <p>{{ forum.description }}</p>
                        </li>
                        <li class="stats">
                            <p><strong>3</strong> <i class="far fa-comment-alt" data-toggle="tooltip" data-placement="top" title="{% trans from 'home'%}forum.count.topics{% endtrans %}"></i></p>
                            <p><strong>23</strong> <i class="fas fa-comments" data-toggle="tooltip" data-placement="top" title="{% trans from 'home'%}forum.count.posts{% endtrans %}"></i></p>
                        </li>
                        <li class="last-post">
                            <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                            <span class="info">
                                    <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                                    <span class="recent-post-time">
                                        {% trans with {'%name%': 'Deathart'} from 'home'%}lastpost.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                                    </span>
                                </span>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}