{% trans_default_domain 'forum' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ titlePage }} | {{ foruminfo['title'] }}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/vendor/font-awesome.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/vendor/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/forum/style.css') }}" />
        {% for data in css %}
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset(data.file)) }}" />
        {% endfor %}
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('base') }}">{% trans from 'layout'%}header.navbar.home{% endtrans %} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('faq') }}">{% trans from 'layout'%}header.navbar.faq{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans from 'layout'%}header.navbar.search{% endtrans %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans from 'layout'%}header.navbar.others{% endtrans %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.members{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.staff{% endtrans %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.unansweredtopics{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.activetopics{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0 navbar-login" data-is-authenticated="{{ app.session.has('logged') ? 'true' : 'false' }}">
                        {% if app.session.has('logged') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{USERNAME}</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.myaccount{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.logout{% endtrans %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.newmp{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.writemp{% endtrans %}</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <span class="nav-link modal-login-btn">{% trans from 'layout'%}header.navbar.login{% endtrans %}</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans from 'layout'%}header.navbar.register{% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">{{ foruminfo['title'] }}</h1>
                <p class="lead">{{ foruminfo['description'] }}</p>
            </div>
        </div>
        <div class="navigation-bot-header d-none d-md-block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-9">
                        {{ breadcrumb|raw }}
                    </div>
                    <div class="col-2 social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}
                <div class="row mt-4 d-none d-md-block">
                    <div class="col-12">
                        <div>
                            {{ include('forum/partial/chatbox.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row mt-4">
                <div class="col-sm-12 {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}col-lg-9{% else %}col-md-12{% endif %}">
                    <div class="container-fluid">
                        {{ block('body') }}
                    </div>
                </div>
                {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}
                <div class="col-md-3 d-none d-lg-block">
                    <div class="container-fluid">
                        {% if app.request.attributes.get('_route') == 'base' %}
                            {{ include('forum/partial/sidebar/home.html.twig') }}
                        {% else %}
                            {{ include('forum/partial/sidebar/forum.html.twig') }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <footer class="footer text-white">
            <div class="foot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 mt-3">
                            <div class="footer-about">
                                <h4>About Us</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quod mollitia quisquam. Architecto quam in atque sint voluptatem, consequatur consectetur ab ipsum maxime quod consequuntur excepturi illum dolorem ex modi.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block mt-3">
                            <div class="footer-useful-links">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Private Policy</a></li>
                                    <li><a href="#">Community Rules</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block mt-3">
                            <div class="footer-useful-links">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">The team</a></li>
                                    <li><span class="delallcookies">Delete all board cookies</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% trans from 'layout'%}footer.copy{% endtrans %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade modal-login" tabindex="-1" role="dialog" aria-labelledby="ModalLogin" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans from 'layout'%}header.navbar.login{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="login-form">
                            <div class="form-group row d-flex justify-content-center">
                                <label for="inputUsername" class="sr-only">{% trans from 'layout'%}modal.login.username{% endtrans %}</label>
                                <div class="input-group mb-2 col-sm-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">{% trans from 'layout'%}modal.login.username{% endtrans %}</div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineUsername" placeholder="{% trans from 'layout'%}modal.login.username{% endtrans %}" required />
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for="inputPassword" class="sr-only">{% trans from 'layout'%}modal.login.password{% endtrans %}</label>
                                <div class="input-group mb-2 col-sm-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">{% trans from 'layout'%}modal.login.password{% endtrans %}</div>
                                    </div>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="{% trans from 'layout'%}modal.login.password{% endtrans %}" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 d-flex justify-content-center">
                                    <a href="#" class="btn btn-warning">{% trans from 'layout'%}modal.login.forgotpassword{% endtrans %}</a>
                                    <button type="submit" class="btn btn-primary ml-1">{% trans from 'layout'%}modal.login.submit{% endtrans %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans from 'layout'%}other.close{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top-wrapper">
            <i class="fas fa-arrow-circle-up fa-2x"></i>
        </div>
        <script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/vendor/scroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/js/forum/app.js') }}"></script>
        {% for data in js %}
            <script type="text/javascript" src="{{ absolute_url(asset(data.file)) }}"></script>
        {% endfor %}
    </body>
</html>
