{% trans_default_domain 'forum' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ titlePage }}</title>
        {% for data in css %}
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset(data.file)) }}" />
        {% endfor %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-purple">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('base') }}">{% trans from 'layout'%}header.navbar.home{% endtrans %} <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('faq') }}">{% trans from 'layout'%}header.navbar.faq{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans from 'layout'%}header.navbar.search{% endtrans %}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans from 'layout'%}header.navbar.others{% endtrans %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.members{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.staff{% endtrans %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.unansweredtopics{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.activetopics{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        {% if app.session.has('logged') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{USERNAME}</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown07">
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.myaccount{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.logout{% endtrans %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.newmp{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans from 'layout'%}header.navbar.writemp{% endtrans %}</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans from 'layout'%}header.navbar.login{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">{% trans from 'layout'%}header.navbar.register{% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome To Board!</h1>
                <p class="lead">No other bulletin board software offers a greater complement of features, while maintaining efficiency and ease of use.</p>
            </div>
        </div>
        <div class="navigation-bot-header d-none d-md-block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-9">
                        {{ breadcrumb|raw }}
                    </div>
                    <div class="col-2 social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}
                <div class="row mt-4 d-none d-md-block">
                    <div class="col-12">
                        <div>
                            {{ include('forum/partial/chatbox.html.twig') }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row mt-4">
                <div class="col-sm-12 {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}col-lg-9{% else %}col-md-12{% endif %}">
                    <div class="container-fluid">
                        {{ block('body') }}
                    </div>
                </div>
                {% if app.request.attributes.get('_route') in ['base', 'forum_show'] %}
                <div class="col-md-3 d-none d-lg-block">
                    <div class="container-fluid">
                        {% if app.request.attributes.get('_route') == 'base' %}
                            {{ include('forum/partial/sidebar/home.html.twig') }}
                        {% else %}
                            {{ include('forum/partial/sidebar/forum.html.twig') }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <footer class="footer bg-purple text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6 mt-3">
                        <div class="footer-about">
                            <h4>About Us</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quod mollitia quisquam. Architecto quam in atque sint voluptatem, consequatur consectetur ab ipsum maxime quod consequuntur excepturi illum dolorem ex modi.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block mt-3">
                        <div class="footer-useful-links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Private Policy</a></li>
                                <li><a href="#">Community Rules</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block mt-3">
                        <div class="footer-useful-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">The team</a></li>
                                <li><a href="#">Delete all board cookies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="scroll-top-wrapper ">
            <span class="scroll-top-inner">
                <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
        </div>
        {% for data in js %}
            <script type="text/javascript" src="{{ absolute_url(asset(data.file)) }}"></script>
        {% endfor %}
    </body>
</html>
